<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="/public/img/resource_wall_logo.png" style="width:40px;"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="search-bar">

          <form class="form-inline my-2 my-lg-0">
            <i class="fas fa-search"></i>
            <input class="form-control mr-sm-2" type="search" placeholder="  Search Resource" aria-label="Search">

          </form>

        </div>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:8080/resources/resource">Saved</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Profile <span class="sr-only"></span></a>
          </li>
        </ul>
      </div>


        <form method="POST" action="/users/logout">
          <button
                    type="submit">
                logout
            </button>
        </form>


   </nav>
</header>
