<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/fbd5533038.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
  <%- include('partials/_header') %>

  <h2 class="row d-flex justify-content-center">Edit Your Profile</h2>
  <!-- Get Posts-->
  <section class="create-resource row d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="<%= user.user_name%>">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="<%= user.email%>">
          </div>
        </div>
        <div class="form-group row">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="colFormLabel" placeholder="<%= user.password%>">
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <button class="btn btn-primary float-right" type="submit" value="clear" onclick="">Update</button>
          </li>
        </ul>
        <div class="card-footer text-muted">
          <p class="card-text"><small class="text-muted">*all fields are required</small></p>
        </div>
    </div>
  </section>
  <!-- jquery bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
