// See: https://sass-lang.com/
body,
html {
  background-color: #366fb927;
}

.main {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h2 {
  margin: 5% 5% 2% 5%;
  color:#33588a;
}

.create-resource {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5% 2% 5%;
}

.card {
  box-shadow: 3px 10px 5px #5793e227;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 3px 10px 5px #254063b6;
}

.create-resource form, label, textarea, input {
  width:100%;
}

.create-resource textarea, input{
  background-color: rgba(233, 233, 233, 0.199);
  border: 0.2em;
  border-style: none none solid none;
  border-color: #fff;
  outline: none;
  overflow: auto;
  resize: none;
}

.create-resource button {
  display: flex;
  margin:10px;
}

#like-button:hover {
  color:#6A92D1;
}

#save-button:hover {
  color: #d5eb5e;
}

select {
  width:100%;
}
